In [30]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("pak_pop.csv").head()

In [32]:
df

,Year,TotalPopulation,PercentMale,PercentFemale,PopDensity,TotalPopulationRank,GrowthRate
0,2019,216565.318,0.514614,0.485386,245.56,5,0.020436
1,2018,212228.286,0.514619,0.485381,240.65,5,0.020789
2,2017,207906.209,0.514626,0.485374,235.74,5,0.020993
3,2016,203631.353,0.514643,0.485357,230.90,6,0.021082
4,2015,199426.964,0.514678,0.485322,226.13,6,0.021364

In [33]:
df = pd.read_csv("pak_pop.csv", skiprows = 1).head()

In [34]:
df

,2019,216565.318,0.5146141682760117,0.4853858271064437,245.56,5,0.020435692535348382
0,2018,212228.286,0.514619,0.485381,240.65,5,0.020789
1,2017,207906.209,0.514626,0.485374,235.74,5,0.020993
2,2016,203631.353,0.514643,0.485357,230.90,6,0.021082
3,2015,199426.964,0.514678,0.485322,226.13,6,0.021364
4,2010,179424.641,0.515130,0.484870,203.45,6,0.022793

In [35]:
df = pd.read_csv("pak_pop.csv", header = 2)

In [36]:
df

,2018,212228.28600000002,0.5146192576799117,0.4853807517439027,240.65,5,0.020788590301312526
0,2017,207906.209,0.514626,0.485374,235.74,5,0.020993
1,2016,203631.353,0.514643,0.485357,230.90,6,0.021082
2,2015,199426.964,0.514678,0.485322,226.13,6,0.021364
3,2010,179424.641,0.515130,0.484870,203.45,6,0.022793
4,2005,160304.008,0.515746,0.484254,181.77,6,0.024050
5,2000,142343.578,0.516171,0.483829,161.40,7,0.028347
6,1995,123776.839,0.516938,0.483062,140.35,8,0.028316
7,1990,107647.921,0.518549,0.481451,122.06,8,0.031485
8,1985,92191.510,0.520630,0.479370,104.54,8,0.033853
9,1980,78054.343,0.523378,0.476622,88.51,10,0.031578
10,1975,66816.877,0.526277,0.473723,75.76,10,0.028204
11,1970,58142.060,0.528985,0.471015,65.93,10,0.026890
12,1965,50917.975,0.532149,0.467851,57.74,12,0.025070
13,1960,44988.690,0.535882,0.464118,51.01,14,0.021305
14,1955,40488.030,0.540104,0.459896,45.91,14,0.015222
15,1950,37542.376,0.545017,0.454983,42.57,14,0.000000

In [37]:
df = pd.read_csv("pak_pop.csv", header = None)

In [38]:
df

,0,1,2,3,4,5,6
0,Year,TotalPopulation,PercentMale,PercentFemale,PopDensity,TotalPopulationRank,GrowthRate
1,2019,216565.318,0.5146141682760117,0.4853858271064437,245.56,5,0.020435692535348382
2,2018,212228.28600000002,0.5146192576799117,0.4853807517439027,240.65,5,0.020788590301312526
3,2017,207906.20899999997,0.5146256502613639,0.4853743545484974,235.74,5,0.020993112980985718
4,2016,203631.353,0.5146428261467182,0.48535718858578714,230.90,6,0.02108234972679024
5,2015,199426.96399999998,0.5146781003997032,0.48532184444225906,226.13,6,0.021363558206822786
6,2010,179424.641,0.5151298533181962,0.4848701578285449,203.45,6,0.02279251474364452
7,2005,160304.008,0.5157464808989679,0.4842535128628849,181.77,6,0.024050326901318808
8,2000,142343.578,0.516171463667999,0.4838285714582782,161.40,7,0.02834703007659556
9,1995,123776.839,0.5169378578168408,0.48306210986693554,140.35,8,0.028316366849159724
10,1990,107647.921,0.5185493549847563,0.4814506171466144,122.06,8,0.031485063884523656
11,1985,92191.51,0.5206298931430887,0.4793700526219823,104.54,8,0.03385294964825847
12,1980,78054.343,0.523378039323193,0.4766219991115678,88.51,10,0.03157825735553188
13,1975,66816.87700000001,0.5262766621073893,0.47372330796005324,75.76,10,0.028203674570599135
14,1970,58142.06,0.52898524751273,0.471014786885776,65.93,10,0.02688984307979214
15,1965,50917.975,0.5321489120492321,0.46785108795076785,57.74,12,0.025070074846455848
16,1960,44988.69,0.535881884980425,0.46411811501957495,51.01,14,0.021304722903716433
17,1955,40488.03,0.5401042233963964,0.4598958260009193,45.91,14,0.015221901376919034
18,1950,37542.376000000004,0.5450170495335723,0.4549827906470277,42.57,14,0

In [39]:
df = pd.read_csv("pak_pop.csv", header = None , names = ["A","B","C"])

In [40]:
df

,,,,A,B,C
Year,TotalPopulation,PercentMale,PercentFemale,PopDensity,TotalPopulationRank,GrowthRate
2019,216565.318,0.5146141682760117,0.4853858271064437,245.56,5,0.020435692535348382
2018,212228.28600000002,0.5146192576799117,0.4853807517439027,240.65,5,0.020788590301312526
2017,207906.20899999997,0.5146256502613639,0.4853743545484974,235.74,5,0.020993112980985718
2016,203631.353,0.5146428261467182,0.48535718858578714,230.90,6,0.02108234972679024
2015,199426.96399999998,0.5146781003997032,0.48532184444225906,226.13,6,0.021363558206822786
2010,179424.641,0.5151298533181962,0.4848701578285449,203.45,6,0.02279251474364452
2005,160304.008,0.5157464808989679,0.4842535128628849,181.77,6,0.024050326901318808
2000,142343.578,0.516171463667999,0.4838285714582782,161.40,7,0.02834703007659556
1995,123776.839,0.5169378578168408,0.48306210986693554,140.35,8,0.028316366849159724
1990,107647.921,0.5185493549847563,0.4814506171466144,122.06,8,0.031485063884523656
1985,92191.51,0.5206298931430887,0.4793700526219823,104.54,8,0.03385294964825847
1980,78054.343,0.523378039323193,0.4766219991115678,88.51,10,0.03157825735553188
1975,66816.87700000001,0.5262766621073893,0.47372330796005324,75.76,10,0.028203674570599135
1970,58142.06,0.52898524751273,0.471014786885776,65.93,10,0.02688984307979214
1965,50917.975,0.5321489120492321,0.46785108795076785,57.74,12,0.025070074846455848
1960,44988.69,0.535881884980425,0.46411811501957495,51.01,14,0.021304722903716433
1955,40488.03,0.5401042233963964,0.4598958260009193,45.91,14,0.015221901376919034
1950,37542.376000000004,0.5450170495335723,0.4549827906470277,42.57,14,0

In [41]:
cs = pd.read_excel("Airline.xls")

In [42]:
cs

    YEAR       Y      W              R      L      K
0   1948   1.214  0.243         0.1454  1.415  0.612
1   1949   1.354  0.260         0.2181  1.384  0.559
2   1950   1.569  0.278         0.3157  1.388  0.573
3   1951   1.948  0.297          0.394  1.550  0.564
4   1952   2.265  0.310         0.3559  1.802  0.574
5   1953   2.731  0.322         0.3593  1.926  0.711
6   1954   3.025  0.335         0.4025  1.964  0.776
7   1955   3.562  0.350         0.3961  2.116  0.827
8   1956   3.979  0.361  not available  2.435    0.8
9   1957    4.42  0.379         0.3045  2.707  0.921
10  1958   4.563  0.391         0.3284  2.706  1.067
11  1959   5.385  0.426         0.3856  2.846  1.083
12  1960   5.554  0.441         0.3193  3.089  1.481
13  1961   5.465  0.460         0.3079  3.122  1.736
14  1962   5.825  0.485         0.3783  3.184  1.926
15  1963   6.876  0.506          0.418  3.263  2.041
16  1964   7.823  0.538         0.5163  3.412  1.997
17  1965    9.12  0.564         0.5879  3.623  2.257
18  1966  10.512  0.586         0.5369  4.074  2.742
19  1967   13.02  0.622         0.4443  4.710  3.564
20  1968  15.261  0.666         0.3052  5.217  4.767
21  1969  16.313  0.731         0.2332  5.569  6.511
22  1970  16.002  0.831         0.1883  5.495  7.627
23  1971  15.876  0.906         0.2023  5.334  8.673
24  1972  16.662  1.000         0.2506  5.345  8.331
25  1973  17.014  1.056         0.2668  5.662  8.557
26  1974  19.305  1.131         0.2664  5.729  9.508
27  1975  18.721  1.247         0.2301  5.722  9.062
28  1976   19.25  1.375            n.a  5.762  8.262
29  1977  20.647  1.544         0.4508  5.877  7.474
30  1978    .n.a  1.703         0.5877  6.108  7.104
31  1979  23.619  1.779         0.5346  6.852    n.a

In [43]:
cs = pd.read_excel("Airline.xls", na_values=["not available","n.a"])

In [24]:
cs

    YEAR       Y      W       R      L      K
0   1948   1.214  0.243  0.1454  1.415  0.612
1   1949   1.354  0.260  0.2181  1.384  0.559
2   1950   1.569  0.278  0.3157  1.388  0.573
3   1951   1.948  0.297  0.3940  1.550  0.564
4   1952   2.265  0.310  0.3559  1.802  0.574
5   1953   2.731  0.322  0.3593  1.926  0.711
6   1954   3.025  0.335  0.4025  1.964  0.776
7   1955   3.562  0.350  0.3961  2.116  0.827
8   1956   3.979  0.361     NaN  2.435  0.800
9   1957    4.42  0.379  0.3045  2.707  0.921
10  1958   4.563  0.391  0.3284  2.706  1.067
11  1959   5.385  0.426  0.3856  2.846  1.083
12  1960   5.554  0.441  0.3193  3.089  1.481
13  1961   5.465  0.460  0.3079  3.122  1.736
14  1962   5.825  0.485  0.3783  3.184  1.926
15  1963   6.876  0.506  0.4180  3.263  2.041
16  1964   7.823  0.538  0.5163  3.412  1.997
17  1965    9.12  0.564  0.5879  3.623  2.257
18  1966  10.512  0.586  0.5369  4.074  2.742
19  1967   13.02  0.622  0.4443  4.710  3.564
20  1968  15.261  0.666  0.3052  5.217  4.767
21  1969  16.313  0.731  0.2332  5.569  6.511
22  1970  16.002  0.831  0.1883  5.495  7.627
23  1971  15.876  0.906  0.2023  5.334  8.673
24  1972  16.662  1.000  0.2506  5.345  8.331
25  1973  17.014  1.056  0.2668  5.662  8.557
26  1974  19.305  1.131  0.2664  5.729  9.508
27  1975  18.721  1.247  0.2301  5.722  9.062
28  1976   19.25  1.375     NaN  5.762  8.262
29  1977  20.647  1.544  0.4508  5.877  7.474
30  1978    .n.a  1.703  0.5877  6.108  7.104
31  1979  23.619  1.779  0.5346  6.852    NaN

In [25]:
cs = pd.read_excel("Airline.xls", nrows = 6)

In [26]:
cs

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574
5  1953  2.731  0.322  0.3593  1.926  0.711

In [28]:
cs.columns

Index(['YEAR', 'Y', 'W', 'R', 'L', 'K'], dtype='object')

In [29]:
cs.to_csv("Airline1.csv",index = False,columns=["YEAR","Y","W"])