In [5]:
import pandas as pd

In [8]:
df1 = pd.read_excel("Airline.xls")

In [9]:
df1.head(10)

   YEAR      Y      W              R      L      K
0  1948  1.214  0.243         0.1454  1.415  0.612
1  1949  1.354  0.260         0.2181  1.384  0.559
2  1950  1.569  0.278         0.3157  1.388  0.573
3  1951  1.948  0.297          0.394  1.550  0.564
4  1952  2.265  0.310         0.3559  1.802  0.574
5  1953  2.731  0.322         0.3593  1.926  0.711
6  1954  3.025  0.335         0.4025  1.964  0.776
7  1955  3.562  0.350         0.3961  2.116  0.827
8  1956  3.979  0.361  not available  2.435    0.8
9  1957   4.42  0.379         0.3045  2.707  0.921

In [7]:
def convert_R_cell(cell):
    if cell =="not available":
        return "nann"
    return cell
df = pd.read_excel("Airline.xls",converters = {"R":convert_R_cell})

In [10]:
df.head(10)

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297   0.394  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574
5  1953  2.731  0.322  0.3593  1.926  0.711
6  1954  3.025  0.335  0.4025  1.964  0.776
7  1955  3.562  0.350  0.3961  2.116  0.827
8  1956  3.979  0.361    nann  2.435    0.8
9  1957   4.42  0.379  0.3045  2.707  0.921